.Comp1UseStateb{
    background-color: rgb(238, 225, 210);
    margin: 10px 20px 30px 20px;
}
.Comp2UseStateb{
    background-color: rgb(232, 219, 243);
}
.Comp2b{
    background-color: rgb(182, 126, 228);

}
.person-info{
    border:1px solid #ccc;
    padding:10px;
    margin:30px 0;
    width:400px;
    background-color: azure;
}
.Comp6b{
    background-color: rgb(31, 241, 241);

}
.Comp7b{
    background-color: rgb(156, 156, 65);
}
.Comp8b{
    background-color: rgb(157, 224, 144)
}